:root {
    --primary-color: #c53636;
    --secondary-color: #061e36;
    --tertiary-color: #ffbe44;
    --dark-gray: #5d5c61;
    --light-gray: #ADADAD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    font-size: 14px;
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 60px;
    width: 100%;
} 

nav {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    height: 60px;
    background-color: transparent;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin-bottom: 150px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li a {
    padding: 10px 15px;
    margin: 30px;
    color: var(--tertiary-color);
    font-size: 1.55vw;
    font-weight: bold;
}

nav ul li a:hover {
    transform:scale(1.3);
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    border-radius: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 20px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

.profile-container {
    position: relative;
    background-color: var(--primary-color);
    width: 220px;
    height: 220px;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 60px rgba(0,0,0,0.15);
    overflow: hidden;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: width 0.4s, height 0.4s, border-radius 0.4s;
}

.profile-container:hover {
    width: 340px;
    height: 440px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

.img-container {
    width: 170px;
    height: 170px;
    min-height: 170px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.2);
}

.img-container img {
    width: 100%;
    max-width: 100%;
}

.full-name {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.role, .description {
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;
}

.role {
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--tertiary-color);
}

.social-container {
    position: absolute;
    top: 40px;
    left: -40px;
    display: flex;
    flex-direction: column;
}

.social-container button {
    border: none;
    outline: none;
    color: #eee;
    background: none;
    width: 20px;
    height: 40px;
    font-size: 1.7em;
    margin-bottom: 16px;
    cursor: pointer;
    transition: transform 0.4s;
}

.profile-container:hover .social-container button {
    transform: translate(60px);
    transition-delay: 0.3s;
}

.profile-container:hover .social-container button:nth-child(2) {
    transition-delay: 0.5s;
}

.profile-container:hover .social-container button:nth-child(3) {
    transition-delay: 0.7s;
}

#projects {
    width: 100%;
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    margin: 30px;
    border-bottom: 1px dotted var(--primary-color);
}

.card {
    height: 35vh;
    width: 25rem;
    border-radius: 30px;
    padding: 0 5px 0 5px;
    margin: 0 20px 0 20px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.card:hover {
    transform:scale(1.1);
}

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.info a {
    color: var(--primary-color);
    font-size: 1.7vw;
    font-weight: bolder;
}


.info h3 {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 9px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;
}

.project img {
    width: 10rem;
    align-items: center;
    z-index: 2;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    align-items: center;
}

.contact h1 {
    font-size: 25px;
    color: var(--primary-color)
}

.contact ul li {
    list-style: none;
    color: var(--tertiary-color);
}

.contact ul li:nth-child(1) {
    font-size: 24px;
}

.contact ul li:nth-child(2) {
    font-size: 21px;
}

.contact ul li:nth-child(3) {
    font-size: 18px;
}

@media screen and (max-width: 980px) {
    
    nav {
    padding-bottom: 0;
    height: 100px;
    justify-content: center;
    position: relative;
    }

    nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .profile-container {
        width: 340px;
        height: 440px;
        border-radius: 4px;
    }

    .project-container {
        flex: 0 70%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    
    .project-container {
        flex: 1 100%;
        text-align: center;
    }

    .card {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .info {
        flex: 100;
    }
    
}